.container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 40px;
}

.navigation {
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
    border-image-slice: 1;
    
}

.navigationLink:focus, 
.navigationLink:hover,
.navigationLink:active {
    color: orangered;
    
}

.navigationLink {
    color: black;
    text-decoration: none; 
    padding-right: 15px;

}

